---

---
<section class = "section1">
    <div>
        <h1>OUR PURPOSE</h1>
        <h2>iGEM competition について</h2>
        <p>
            iGEM（International Genetically Engineered Machine）competitionは、学生主体で行う合成生物学の国際大会です。世界中の大学やチームが参加し、自分たちのアイデアや技術を生かしたプロジェクトを発表し、技術力や社会的インパクトが評価されます。詳しくは公式サイトをご覧ください。
        </p>
    </div>

</section>

<style>
    .section1 {
        background-image:url('/public/images/iGEM_2023back.jpg');
        background-size: cover;
        background-position: center;
        height: 600px;
        text-align: center;
    }

    .section1 h1 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .section1 h2 {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .section1 p {
        font-size: 1rem;
        margin-bottom: 20px;
    }