---
import type { MarkdownHeading } from "astro";
import type { SinglePageConfigEntry, PageTitle } from "../../siteConfig/pages";
import { type TabHeading } from "./TocNavigation.astro";

/**
 * componnents import
 */
import ToC from "../ToC/ToC.astro";
import TabToC from "../ToC/TabToC.astro";
import A from "../A.astro";

interface Props {
  pageTitle: PageTitle;
  entry: SinglePageConfigEntry;
  isDefaultEntry: boolean;
  headings?: MarkdownHeading[];
  tabHeadings?: TabHeading[];
  class?: string[] | string;
}

const {
  pageTitle,
  entry,
  isDefaultEntry,
  headings,
  tabHeadings,
  class: className,
} = Astro.props;

const classList = className
  ? className instanceof Array
    ? className
    : [className]
  : undefined;
---

<li
  class:list={classList}
  data-default-page={isDefaultEntry ? "true" : "false"}
>
  <A href={entry.url} class="title-button">
    {entry.title}
  </A>
  
</li>

<style>
  
  .title-button {
    display: block;
    border-style: solid;
    border-image: linear-gradient( 90deg, #a0ffa0,  #d0ffd0) 1;
    border-width: 1px;
    border-radius: 50%;
    font-weight: 600;
    background-color:white;
    margin-right: 1rem;
    margin-top: 1.5rem;
    padding: 0.5rem 1rem;
  }
</style>
