---
import type { HTMLAttributes } from "astro/types";
import { MDXDocEnvManager } from "../scripts/MDXDocEnvManager";

interface Props extends HTMLAttributes<"h3"> {}
const props = Astro.props;
---

<h3
  class:list={[
    // ToCHighlighter.OBSERVED_CLASS,
    MDXDocEnvManager.CLASSES.headings,
    "mdx-h3",
    props.class,
  ]}
  {...props}
>
  <slot />
</h3>

<style>
  /* h2: h1 より少し控えめだが、まだ重要な見出し */
  .mdx-h3 {
    font-size: 1.2rem;
    font-weight: normal;
    color: #5d6d7e;
    text-align: left;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem:
  }
</style>