---
interface Props {
  year: number;
  headings: string;
  imgSrc? : string;
  medal: string;
}

const { year, headings, imgSrc, medal } = Astro.props;

const hasImage = !!imgSrc;
---

<div class:list={["interview-card"]}>
  <div class:list={["interview-header"]}>
    <div class="card-headings">
      <img src={medal}/>
      {headings}
      
    </div>
    <div class="card-headings">{year}年</div>
  </div>
  <div class:list={["interview-content", { "full-width": !hasImage }]}>
    {hasImage && <div class="image-container"><img src={imgSrc} style="overflow: hidden;" /></div>}
    <div class="slot-content">
      <slot/>
    </div>
  </div>
</div>

<style>
  .interview-card {
    max-width: 100%;
    margin: 2rem auto; /* More consistent top/bottom margins */
    padding: 1.5rem; /* Padding inside the card */
    background-color: white; /* Card background color */
    border-radius: 10px; /* Rounded corners for a softer feel */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for 3D effect */
  }

  .interview-header {
    display: grid;
    height:100%;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #f0f0f0; /* Divider between header and content */
  }

  .card-headings {
    font-weight: bold; /* Highlight the interviewees' names */
    font-size:1.2rem;
  }
  .card-headings img {
    height: 1.5rem;
    margin-left: 1rem;
    margin-right:0.5rem;
  }
  

  .interview-content {
    height: 100%;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    gap: 1rem;
    width: 100%;
  }

  .interview-content.full-width {
    grid-template-columns: 1fr;
    max-width: 100%;
  }

  .interview-content.full-width .slot-content {
    width: 100%;
    max-width: 100%;
  }

  .image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-container img {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }

  .slot-content {
    width: 100%;
  }

  @media (max-width: 768px) {
    .interview-header {
      grid-template-columns: 1fr; /* Stacks interviewees and belonging */
      gap: 0.5rem;
    }

    .interview-content {
      grid-template-columns: 1fr;
    }

    .interview-content img {
      max-height: 40vh;
    }
  }
</style>
