---
/**
 * Propsはmarkdownで書かれたheadingsを型に指定
 */
 import type { BaseLayoutProps } from "./BaseLayout.astro";
import type { MarkdownHeading } from "astro";

import BaseLayout from "./BaseLayout.astro";
import Footer from "./Footer.astro";
import TocNavigation from "../components/Navigation/TocNavigation.astro";
import HeaderNavigation from "../components/Navigation/HeaderNavigation.astro"

import "katex/dist/katex.min.css";

interface Props extends BaseLayoutProps {
  headings?: MarkdownHeading[];
}

const { headings, ...props } = Astro.props;

export const navigationWidth = "200px";

---

<BaseLayout {...props}>
  <HeaderNavigation  pageTitle={props.title} />

  <section class="background-image">
    <div class="content">
      <slot />
      <Footer />
    </div>
  </section>
</BaseLayout>


<style>
  .content {
    font-size: 1rem;
    top:80px;
    background-image:url('images/Home.svg');
    background-size: cover;
    background-position: center;
  }
  
  .background-image{
    background-image:url('images/Home.svg');
    background-size: cover;
    background-position: center;
    position:absolute;
  }
 
  @media (max-width: 768px) {
    .content {
      display: block;
      margin-left: auto;
      width: 100%;
    }
  }
</style>
