---
import type { BaseLayoutProps } from "./BaseLayout.astro";
import type { MarkdownHeading } from "astro";

import BaseLayout from "./BaseLayout.astro";
import Footer from "./Footer.astro";

import HeaderNav from "../components/Navigation/HeaderNav.astro"

import "katex/dist/katex.min.css";

import HamburgerNavigation from "../components/Navigation/HamburgerNavigation.astro";

interface Props extends BaseLayoutProps {
  headings?: MarkdownHeading[];
}

const { headings, ...props } = Astro.props;

export const navigationWidth = "200px";

---

<BaseLayout {...props}>
  <HeaderNav />
  <HamburgerNavigation/>

  <section class="background-image">
    <div class="content">
      <slot />
      <Footer />
    </div>
  </section>
</BaseLayout>


<style>
  
  .background-image{
    background-image: url('/images/Home.svg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1; 
  }

  .content {
    font-size: 1rem;
    top:85px;
    z-index:1;
    position: relative;
  }
 
  @media (max-width: 768px) {
    .content {
      display: block;
      margin-left: auto;
      width: 100%;
    }
  }
</style>
